.searchBarDiv {
    /* background-color: rgba(17, 0, 255, 0.363); */
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.searchHolder {
    /* background-color: aqua; */
    /* position: relative; */
    display: flex;
    align-items: center;
}

.searchInput {
    width: 500px;
    height: 65px;
    border-radius: 25px;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.60);
    background: rgba(0, 7, 31, 0.40);
    flex-shrink: 0;
    backdrop-filter: blur(5px);
    padding: 20px;
    border: none;
    font-size: large;
    transition: all 0.2s ease;
}

.searchInput:focus {
    transform: translate(0px, 2px);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.60);
}

input:focus {
    outline: none;
    /* Remove the outline on focus */
}

.searchInput::placeholder {
    color: rgb(173, 173, 173);
    font-size: large;
}
.searchInputPlaceHolder::placeholder {
    color: rgb(255, 0, 0);
}

.searchIcon {
    /* position: absolute; */
    top: 27px;
    right: 25px;
    cursor: pointer;
    margin-left: -92px;
    z-index: 1;
    font-size: 15px;
    background-color: #0a1229;
    box-shadow: 0px 4px 4px 1px #00000099;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.searchIcon:active {
    transform: translate(0px, 5px);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.60);
}

.getCurrentLocation {
    background-color: #111a32;
    margin-left: 35px;
    height: 50px;
    width: 85px;
    border-radius: 20px;
    outline: none;
    box-shadow: 0px 4px 4px 1px #00000099;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.getCurrentLocation:active {
    transform: translate(0px, 5px);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.60);
}




/* ------ MEDIA STYLES TO MAKE IT MOBILE FRINEDLY ------ */

@media (min-width: 601px) and (max-width: 768px) {
    .searchInput {
        width: 400px;
        transition: width 0.5s ease;
    }
}


@media (min-width: 550px) and (max-width: 600px) {
    .searchHolder {
        margin-left: 10px;
    }

    .searchInput {
        width: 400px;
        transition: width 0.5s ease;
    }
}

@media (min-width: 520px) and (max-width: 549px) {
    .searchHolder {
        margin-left: 0px;
    }

    .searchInput {
        width: 400px;
        transition: width 0.5s ease;
    }
}


@media (min-width: 400px) and (max-width: 519px) {
    .searchBarDiv {
        flex-direction: column;
    }

    .searchHolder {
        margin-left: 0px;
    }

    .searchInput {
        width: 400px !important;
        margin-left: -10px;
        transition: width 0.5s ease;
    }

    .searchIcon {
        margin-left: -68px;
        font-size: 10px;
    }

    .getCurrentLocation {
        margin-top: 10px;
        height: 50px;
        width: 75px;
        border-radius: 10px;
        font-size: 12px;
        margin-left: 0px;
    }
}


@media (min-width: 356px) and (max-width: 399px) {
    .searchBarDiv {
        flex-direction: column;
    }

    .searchHolder {
        margin-left: 0px;
    }

    .searchInput {
        width: 355px;
        margin-left: -10px;
        transition: width 0.5s ease;
    }

    .getCurrentLocation {
        margin-top: 10px;
        height: 50px;
        width: 75px;
        border-radius: 10px;
        font-size: 12px;
        margin-left: 0px;
    }

    .searchIcon {
        margin-left: -68px;
        font-size: 10px;
    }
}



@media (min-width: 300px) and (max-width: 355px) {
    .searchBarDiv {
        flex-direction: column;
    }

    .searchHolder {
        margin-left: 0px;
    }

    .searchInput {
        width: 305px;
        margin-left: -17px;
        transition: width 0.5s ease;
    }

    .getCurrentLocation {
        margin-top: 10px;
        height: 50px;
        width: 75px;
        border-radius: 10px;
        font-size: 12px;
        margin-left: 0px;
    }
}