.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ---------------------------- */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Aldrich', sans-serif;
  color: white;
}

@font-face {
  font-family: 'Aldrich';
  src: url('./assets/fonts/Aldrich-Regular.ttf');
}

body, html {
  height: 100vh;
  color: white;
  background: linear-gradient(#172135, #212f4b, #172135);
  transition: all 2s ease;
}

::-webkit-scrollbar-track {
  /* Set color of the track */
  background: #6c727f;

}
::-webkit-scrollbar {
  width: 12px;
  /* Set width of the scrollbar */
  height: 15px;
  /* Set height of the scrollbar */
}

::-webkit-scrollbar-thumb {
  /* Set color of the handle */
  background: #0f182c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0a1228;
  /* Set color of the handle on hover */
}