.savedLocations {
    background: #00071f5e;
    box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.85);
    max-height: 353px;
    width: 345px;
    padding: 10px;
    border-radius: 25px;
    margin-left: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
}


.savedLocations::-webkit-scrollbar {
    display: none;
}

.savedCityContainerDiv {
    position: relative;
    box-shadow: 0px 4px 4px 1px #00000099;
    height: fit-content;
    width: 95%;
    padding: 15px;
    margin: 7px;
    border-radius: 20px;
    cursor: pointer;
    background: #0a1229;
    transition: all 0.3s ease;
}

.savedCityContainerDiv:hover {
    transform: translate(0px, 2px);
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.60);
    transition: transform 0.2s;
}

.savedCityContainerDiv:active {
    transform: translate(0px, 4px);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.60);
}

.savedCityContainerDiv::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #03030367;
    border-radius: 20px;
}

.savedCityContent {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.savedCityImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    /* z-index: -1; */
}

.trashIcon {
    font-size: 20px;
    display: flex;
    /* background-color: antiquewhite; */
}

.trashIcon>path {
    color: #ffffff;


}






/* ------ MEDIA STYLES TO MAKE IT MOBILE FRINEDLY ------ */

@media (min-width: 601px) and (max-width: 768px) {
    .savedLocations {
        margin-top: 40px;
        width: 100%;
        margin-left: 0px;
        transition: width 0.5s ease;
    }

    .savedCityContainerDiv {
        width: 45%;
        transition: width 0.5s ease;
    }
}


@media (min-width: 550px) and (max-width: 600px) {
    .savedLocations {
        margin-top: 40px;
        width: 80%;
        margin-left: 0px;
        transition: width 0.5s ease;
    }

    .savedCityContainerDiv {
        width: 45%;
        transition: width 0.5s ease;
        font-size: 11px;
    }
}

@media (min-width: 520px) and (max-width: 549px) {
    .savedLocations {
        margin-top: 40px;
        width: 80%;
        margin-left: 0px;
        transition: width 0.5s ease;
    }

    .savedCityContainerDiv {
        width: 45%;
        transition: width 0.5s ease;
        font-size: 11px;
    }
}


@media (min-width: 400px) and (max-width: 519px) {
    .savedLocations {
        margin-top: 40px;
        width: 90%;
        margin-left: 0px;
        transition: width 0.5s ease;
    }

    .savedCityContainerDiv {
        width: 90%;
        transition: width 0.5s ease;
        font-size: 9px;
    }
}


@media (min-width: 356px) and (max-width: 399px) {
    .savedLocations {
        margin-top: 40px;
        width: 80%;
        margin-left: 0px;
        transition: width 0.5s ease;
    }

    .savedCityContainerDiv {
        width: 90%;
        transition: width 0.5s ease;
        font-size: 11px;
    }
}


@media (min-width: 300px) and (max-width: 355px) {
    .savedLocations {
        margin-top: 40px;
        width: 90%;
        margin-left: 0px;
        transition: width 0.5s ease;
    }

    .savedCityContainerDiv {
        width: 80%;
        transition: width 0.5s ease;
        font-size: 9px;
        transition: font-size 0.5s ease;
    }
}